# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
.env.production
.env.test
!.env.example
!.env.*.example
config_local_db.txt

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea/
.vscode/

# Backup files
backup/
backup_donotbuild/
**/**.backup
**/**.bak
**/**.broken
**/**.new
excluded_files/
